<div class="<?php echo $this->getOption('box_class') ?>">
    <?php if ($this->getOption('show_start_stop')) {?>
        <a
            href="<?php if(!$this->isFirstDisabled()){echo $this->createFirstUrl();}?>"
            class="<?php echo $this->getOption('start_class')?> <?php if($this->isFirstDisabled()){echo $this->getOption('disabled_class');}?>">
            <span class="icon-to-start-alt"></span>
        </a>
    <?php }?>
    <?php if ($this->getOption('show_prev_next')) {?>
        <a
            href="<?php if(!$this->isPrevDisabled()){echo $this->createPrevUrl();}?>"
            class="<?php echo $this->getOption('prev_class')?>  <?php if($this->isPrevDisabled()){echo $this->getOption('disabled_class');}?>">
            <span class="icon-fast-bw"></span>
        </a>
    <?php }?>
    <?php foreach ($this->createPagesList() as $page) {?>
        <a
            href="<?php echo $page['href']?>"
            class="<?php echo $page['class']?>"><?php echo $page['title']?></a>
    <?php }?>
    <?php if ($this->getOption('show_prev_next')) {?>
        <a
            href="<?php if(!$this->isNextDisabled()){echo $this->createNextUrl();}?>"
            class="<?php echo $this->getOption('next_class')?> <?php if($this->isNextDisabled()){echo $this->getOption('disabled_class');}?>"
            >
            <span class="icon-fast-fw"></span>
        </a>
    <?php }?>
    <?php if ($this->getOption('show_start_stop')) {?>
        <a
            href="<?php if(!$this->isLastDisabled()){echo $this->createLastUrl();}?>"
            class="<?php echo $this->getOption('last_class')?>  <?php if($this->isLastDisabled()){echo $this->getOption('disabled_class');}?>">
            <span class="icon-to-end-alt"></span>
        </a>
    <?php }?>
    <?php if ($this->getOption('show_total')) {?>
        <span class="<?php echo $this->getOption('total_class')?>"><?php echo $this->renderTotal()?></span>
    <?php }?>
    <div class="perpage">
        <div class="ddlButton right up">
            <span data-blur="" data-value="listPerpage" data-id="toggleBox" data-button="" onclick="" tabindex="10" class="actionButton">
                <?php echo $this->getPageSize() . ' ' . $this->getOption('perpage_label')?>
            </span>
            <div class="list disabled" data-button-target="listPerpage">
                <?php foreach ($this->getPerpageOptions() as $option) {?>
                    <a href="<?php echo $this->createPerPageUrl($option)?>"><?php echo $option?></a>
                <?php }?>
            </div>
        </div>
    </div>
</div>